<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Livraria</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <form method="get" action="/buscar" id="form">
    <div class="container text-center">
    <h2>Buscar livro</h2>
    <div class="col">
        <label for="titulo">Nome do livro:</label>
        <input type="text" class="nome" placeholder="Nome do livro" id="titulo" name="titulo">
        <input type="checkbox" class="form-check-input" id="porNome" value="nome">
    </div>
    <br>
    <div class="col">
        <label for="ano">Ano de lançamento</label>
        <input type="number" class="ano" placeholder="Ano" id="ano" name="ano" min="0">
        <input type="checkbox" class="form-check-input" id="porAno" value="ano">
    </div>
        <button type="submit" id="submit" class="btn btn-primary">Buscar</button>
    </div>
    </form>
    <hr>
    <% if (livros.length > 0) { %>
    <div class="resultado">
        <div class="container mt-5">
            <ul class="list-group mt-3">
                <% livros.forEach(livro => { %>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col"><strong>ID:</strong></div>
                            <div class="col"><strong>Título:</strong></div>
                            <div class="col"><strong>Autor:</strong></div>
                            <div class="col"><strong>Ano:</strong></div>
                        </div>
                        <div class="row">
                            <div class="col"><%= livro.id %></div>
                            <div class="col"><%= livro.titulo %></div>
                            <div class="col"><%= livro.nome %></div>
                            <div class="col"><%= livro.ano %></div>
                        </div>
                    </li>
                <% }); %>
            </ul>
        </div>
        <% } else { %>
            <p >Livro não encontrado.</p>
        <% } %>
    </div>
</body>
</html>